<div class="topnav" id="myTopnav">
  <a id="first-topnav-a" ng-class="{'active' : $root.$state.current.name == 'home'}" href="/">Home</a>
  <a  ng-class="{'active' : $root.$state.current.name == 'interviewList'}" href="#!/interviews">Interviews List</a>
</div>

