<section>
  <div class="wrapper">
    <h1>The Interview form</h1>
    <hr/>

    <div class="row">
      <form name="$ctrl.form" novalidate class="col-6 style-form">

        <div class="input-form">
          <label for="purpose">Interview purpose</label>
          <select name="purpose" ng-model="$ctrl.interview.purpose" required ng-options="purpose as purpose for purpose in $ctrl.purposes"
            ng-class="{'is-invalid':($ctrl.form.$submitted || $ctrl.form.purpose.$touched) && (!$ctrl.form.purpose.$valid)}">
              <option value="" >Select Purpose</option>
          </select>
          <div ng-show="$ctrl.form.$submitted || $ctrl.form.purpose.$touched">
            <small ng-show="$ctrl.form.purpose.$error.required" class="fg-red ">The field 'Interview purpose' is required</small>
          </div>
        </div>

        <div class="input-form">
          <label for="city">City</label>

          <select name="city" ng-model="$ctrl.interview.city" ng-change="$ctrl.selectedCity()" ng-options="city as city for city in $ctrl.cities"
            required ng-class="{'is-invalid':($ctrl.form.$submitted || $ctrl.form.city.$touched) && (!$ctrl.form.city.$valid)}">

              <option value="">Select City</option>
          </select>

          <input type="text" id="city" ng-show="$ctrl.selectedElsewhere" ng-model="$ctrl.interview.city" required placeholder="Enter the city">

          <div ng-show="form.$submitted || form.city.$touched">
            <small ng-show="form.city.$error.required" class="fg-red ">The field 'City' is required</small>
          </div>
        </div>

        <div class="input-form">
          <label for="address">Address</label>
          <input type="text" id="address" name="address" placeholder="Address" ng-model="$ctrl.interview.address" ng-class="{'is-invalid':(form.$submitted || form.address.$touched) && (!form.address.$valid)}"
            required="">
          <div ng-show="$ctrl.form.$submitted || $ctrl.form.address.$touched">
            <small ng-show="$ctrl.form.address.$error.required" class="fg-red ">The field 'Address' is required</small>
          </div>
        </div>

        <div class="input-form">
          <label for="interviewer">Interviewer</label>
          <input type="text" id="interviewer" name="interviewer" placeholder="Interviewer" ng-model="$ctrl.interview.interviewer" required
            ng-class="{'is-invalid':($ctrl.form.$submitted || $ctrl.form.interviewer.$touched) && (!$ctrl.form.interviewer.$valid)}">
          <div ng-show="$ctrl.form.$submitted || form.interviewer.$touched">
            <small ng-show="$ctrl.form.interviewer.$error.required" class="fg-red ">The field 'Interviewer' is required</small>
          </div>
        </div>

        <div class="input-form">
          <label for="interviewee">Interviewee</label>
          <input type="text" id="interviewee" name="interviewee" placeholder="Interviewee" ng-model="$ctrl.interview.interviewee" required
            ng-class="{'is-invalid':($ctrl.form.$submitted || $ctrl.form.interviewee.$touched) && (!$ctrl.form.interviewee.$valid)}">
          <div ng-show="$ctrl.form.$submitted || $ctrl.form.interviewee.$touched">
            <small ng-show="$ctrl.form.interviewee.$error.required" class="fg-red ">The field 'Interviewee' is required</small>
          </div>
        </div>

        <div class="input-form">
          <label for="interviewee-email">Interviewee's email</label>
          <input type="email" id="interviewee-email" name="intervieweeEmail" placeholder="Interviewee's email" ng-model="$ctrl.interview.intervieweeEmail"
            ng-class="{'is-invalid':($ctrl.form.$submitted || $ctrl.form.intervieweeEmail.$touched) && (!$ctrl.form.intervieweeEmail.$valid)}"
            required>
          <div ng-show="$ctrl.form.$submitted || $ctrl.form.intervieweeEmail.$touched">
            <small ng-show="$ctrl.form.intervieweeEmail.$error.required" class="fg-red ">The field "Interviewee's email" is required</small>
            <small ng-show="$ctrl.form.intervieweeEmail.$error.email">This is not a valid email.</small>
          </div>
        </div>

        <div class="input-form">
          <label for="interviewee-phone-number">Interviewee's phone number</label>
          <input type="text" id="interviewee-phone-number" name="intervieweePhone" placeholder="Interviewee's phone number"
            ng-class="{'is-invalid':($ctrl.form.$submitted || $ctrl.form.intervieweePhone.$touched) && (!$ctrl.form.intervieweePhone.$valid)}"
            ng-model="$ctrl.interview.intervieweePhoneNumber" phone-number required>

          <div ng-show="$ctrl.form.$submitted || $ctrl.form.intervieweePhone.$touched">
            <small ng-show="$ctrl.form.intervieweePhone.$error.required" class="fg-red ">
              The field "Interviewee's phone number" is required</small>
            <small ng-show="$ctrl.form.intervieweePhone.$error.phoneNumber">
                 This is not a valid phone number. The phone number might have this format XXX-XXX-XXXX
            </small>
          </div>
        </div>

        <div class="input-form">
          <label for="exampleInputEmail1">Date</label>

          <app-datepicker on-month-changed="$ctrl.onMonthChanged(month)" on-day-changed="$ctrl.onDayChanged(day)" date="$ctrl.date"
            on-year-changed="$ctrl.onYearChanged(year)"></app-datepicker>
        </div>

        <div class="input-form">
          <label for="interview-id">Unique interview ID</label>

          <input type="text" id="interview-id" name="interviewId" placeholder="Unique interview ID" readonly required ng-model="$ctrl.interview.id"
            ng-class="{'is-invalid':($ctrl.form.$submitted || $ctrl.form.interviewId.$touched) && (!$ctrl.form.interviewId.$valid)}">
          <button id="btn-next" type="button" ng-click="$ctrl.generateId()">Next</button>

          <div ng-show="$ctrl.form.$submitted || $ctrl.form.interviewId.$touched">
            <small ng-show="$ctrl.form.interviewId.$error.required" class="fg-red ">The field "Unique interview ID" is required</small>
          </div>
        </div>

        <div class="success" ng-show="$ctrl.submitSucceeded">
          <span class="close-btn" ng-click="$ctrl.closeAlert()">&times;</span>
          <strong>Success!</strong> The interview has been saved.
        </div>

        <input type="submit" ng-click="$ctrl.submit()" value="Submit" />

      </form>

    </div>

  </div>
</section>
