  /* Navbar */

  .topnav {
    background-color: $bgNavBar;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      &.active {
        background-color: lighten($bgNavBar, 10%);
        color: white;
      }
      &:hover {
        background-color: lighten($bgNavBar, 30%);
        color: white;
      }
    }
  }

  #first-topnav-a {
    margin-left: 11%
  }
  /*The body*/

  body {
    padding-top: 50px;
    background-color: #333441;
  }

  section {
    background: #eaedbd;
    padding-top: 10px;
    margin-top: -3px;
    min-height: 7em;
  }
  /* the footer */

  footer {
    color: #ffffff;
    margin-top: 1.2em;
    height: 3em;
    text-align: center;
  }
  /* The input */

  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    color: inherit;
    display: block;
    padding: 0.55em;
    width: 100%;
    font-family: $fontName;
    font-size: $baseFontSize;
    line-height: 1.1;
  }

  select {
    color: inherit;
    display: block;
    padding: 0.35em;
    width: 100%;
    font-family: $fontName;
    font-size: $baseFontSize;
    line-height: 1.1;
  }
  /* The form */

  .style-form {
    select.ng-invalid.ng-touched,
    input.ng-invalid.ng-touched {
      border: 1px solid red;
      background: #FFF0F0;
      outline-color: red;
    }
    select.ng-valid.ng-touched,
    input.ng-valid.ng-touched {
      border: 1px solid green;
      background: #F0FFF0;
      outline-color: green;
    }
    div.input-form {
      margin-bottom: 1em;
    }
    .is-invalid {
      border: 1px solid red;
      background: #FFF0F0;
      outline-color: red;
    }
    small {
      color: red
    }
  }
  /*The buttons*/

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  .button {
    appearance: none;
    transition: ('color 0.2s ease-in-out', 'border-color 0.2s ease-in-out', 'background-color 0.2s ease-in-out');
    cursor: pointer;
    display: inline-block;
    font-size: $baseFontSize;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0 0.75em;
    line-height: 3.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: $bgNavBar;
    border: none;
    color: #FFF;
    &:hover {
      background: lighten($bgNavBar, 5) !important;
    }
    &.fit {
      width: 100%;
    }
    &.small {
      font-size: 0.7em;
      min-width: 14em;
      padding: 0.5em 0;
    }
  }

  #btn-next {
    appearance: none;
    transition: ('color 0.2s ease-in-out', 'border-color 0.2s ease-in-out', 'background-color 0.2s ease-in-out');
    font-size: $baseFontSize;
    width: 18%; // padding: 0 0.75em;
    line-height: 2.4em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background: $bgNavBar;
    border: none;
    color: #FFF;
    &:hover {
      background: lighten($bgNavBar, 5) !important;
    }
  }

  #interview-id {
    display: inline-block !important;
    width: 80%
  }
  /* Table */

  table {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
    width: 100%;
    max-width: 95%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }

  th {
    color: #000;
    background: #C5CED6;
    border-bottom: 4px solid #1b1e24;
    border-right: 1px solid #343a45;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    &:first-child {
      border-top-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-right: none;
    }
  }

  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    &:hover td {
      background: #4E5066;
      color: #FFFFFF;
      border-top: 1px solid #22262e;
      border-bottom: 1px solid #22262e;
    }
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
    &:nth-child(odd) {
      background: #EBEBEB;
    }
    &:nth-child(even) {
      background: #FFFFFF;
    }
    &:nth-child(odd):hover td {
      background: #4E5066;
    }
    &:last-child td:first-child {
      border-bottom-left-radius: 3px;
    }
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
  }

  td {
    // background: #FFFFFF;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-size: $baseFontSize;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    &:last-child {
      border-right: 0px;
    }
  }
  /* The alert */

  .success {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #38703C;
    color: white;
  }

  .close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: black;
    }
  }

  .is-visa {
    -webkit-box-shadow: inset 0px 0px 0px 10px #3a7800;
    -moz-box-shadow: inset 0px 0px 0px 10px #3a7800;
    box-shadow: inset 0px 0px 0px 5px #3a7800;
  }

  .is-permanent {
    -webkit-box-shadow: inset 0px 0px 0px 10px #5C99FF;
    -moz-box-shadow: inset 0px 0px 0px 10px #5C99FF;
    box-shadow: inset 0px 0px 0px 5px #5C99FF;
  }
