// global reset and box-sizing rule
@mixin border-box {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	}

%clearfix {

	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}


//Elements
//Center image and add fluidity
@mixin centered-image {
  display: block;
  margin: 0 auto;
}
