<div>
  <input ng-model="$ctrl.date.day" type="text" size="2" maxlength="2"
 ng-blur="$ctrl.onDayChanged({day:$ctrl.date.day})" style="display: inline !important; width:32%" required
  />

<select ng-model="$ctrl.date.month"  name="month" ng-options="month as month for month in $ctrl.months"
 ng-blur="$ctrl.onMonthChanged({month:$ctrl.date.month})" style="display: inline !important; width:33% " required
 ></select>

<input ng-model="$ctrl.date.year"  type="text" name="year" size="4" maxlength="4"
 ng-blur="$ctrl.onYearChanged({year:$ctrl.date.year})" style="display: inline !important; width:32%" required
 />
</div>

