<section>
  <h1 class="wrapper">Interviews list</h1>
  <hr/>
  <div class="row">
    <div class="col-12">
      <table>
        <tr>
          <th>Purpose</th>
          <th>City</th>
          <th>Address</th>
          <th>Interviewer</th>
          <th>Interviewee</th>
          <th>Interviewee's email</th>
          <th>Interviewee's phone</th>
          <th>Date</th>
          <th>interview ID</th>
        </tr>

        <tr ng-repeat="interview in $ctrl.interviews"
        ng-class="{'is-visa' : interview.purpose == 'Visa', 'is-permanent' : interview.purpose == 'Permanent Residence'}">
          <td ng-bind="interview.purpose"></td>
          <td ng-bind="interview.city"></td>
          <td ng-bind="interview.address"></td>
          <td >{{interview.interviewer | nameFilter}}</td>
          <td >{{interview.interviewee | nameFilter}}</td>
          <td ng-bind="interview.intervieweeEmail"></td>
          <td ng-bind="interview.intervieweePhoneNumber"></td>
          <td>{{interview.date | date:'MMM d, yyyy'}}</td>
          <td ng-bind="interview.id"></td>
        </tr>
      </table>
    </div>
  </div>
</section>
